<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CS selector</title>
    <style>
      h1 {
        color: red;
      }
      div {
        background-color: antiquewhite;
      }
      #red {
        color: white;
        background-color: red;
      }
      .blue {
        color: wheat;
        background-color: aqua;
      }
      .black {
        color: aliceblue;
        background-color: beige;
      }
      .white {
        color: bisque;
        background-color: brown;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>this is my first CSS selector</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic itaque
        quidem harum autem ab, quam possimus quas, id distinctio, odio quisquam
        pariatur quo ducimus adipisci enim perferendis ratione aspernatur!
        Facere earum ab officiis temporibus.
      </p>
      <div id="red">this is red</div>
      <span class="blue">this is black</span>
      <span class="black">this is colot</span>
      <span class="white">this is white</span>
    </div>
  </body>
</html>
